@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

.montserrat-font{
	font-family: 'Montserrat', sans-serif;
}

/******************* FONTS DONE ^^^ ****************/
body{
	background-image: url("../static/light-grey-terrazzo.png");
}


.event-card div{
	padding: auto;
}

.applied{
	background-color: #a2a9b5;
	color: white;
}

form{
	padding: 3em;
	margin: 5em;
	margin-top: 5em;
	font-family: 'Montserrat', sans-serif;
}
