{% extends "layout.html" %}


{% block title %}
	Registration Portal
{% endblock %}


{% block imports %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='register.js')}}"></script>
{% endblock %}

{% block body %}
	<div class="row">
	{% for event in events %}
		<div class="col-md-4" style="margin-top: 0.2em;">
			<div class="card">
				<div class="card-body">
					<p class="card-text">{{event.name}} : {{ event.description }} </p>
					<button data-event="{{ event.name }}" class="btn btn-primary"> Apply </button>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
